<div class="header">
  <!-- 左上ロゴ -->
  <div class="header-logo">
    <a href="index.html">
      <img src="assets\img\logo\niAI_lab_logo_w.svg" alt="クラス展示ロゴ" />
    </a>
  </div>

  <!-- 右上ハンバーガーメニュー -->
  <button
    class="hamburger-overlay"
    aria-label="メニュー"
    aria-controls="overlay-menu"
    aria-expanded="false"
  >
    <span class="hamburger-overlay__line"></span>
    <span class="hamburger-overlay__line"></span>
    <span class="hamburger-overlay__line"></span>
  </button>

  <!-- メニュー本体 -->
  <nav id="overlay-menu" class="nav-overlay" aria-hidden="true">
    <div class="nav-overlay__content">
      <ul class="nav-overlay__list">
        <li class="nav-overlay__item">
          <a href="index.html" class="nav-overlay__link">TOP</a>
        </li>
        <li class="nav-overlay__item">
          <a href="access.html" class="nav-overlay__link">ACCESS</a>
        </li>
        <li class="nav-overlay__item">
          <a href="story.html" class="nav-overlay__link">STORY</a>
        </li>
        <li class="nav-overlay__item">
          <a href="play.html" class="nav-overlay__link">FOR PLAYERS</a>
        </li>
        <li class="nav-overlay__item">
          <a href="making.html" class="nav-overlay__link">MAKING</a>
        </li>
        <li class="nav-overlay__item">
          <a href="credit.html" class="nav-overlay__link">CREDITS</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
